<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="home">
    <div class="">
            <a th:href="@{/entry}" ><div class="center-message">
                <div class="triangle" id="triangle1"></div>
                <div class="triangle" id="triangle2">
                    <div class="circle"></div>
                </div>
                <H1 class="welcome">shua</H1>
                <H1 class="welcome" id="logo-2">Jo</H1>
            </div>
            </a>
        </div>
</th:block>

<th:block th:fragment="level-login">
    <div class="top-row">
            <H1 class="headline" th:text="#{level-login.headline}"></H1>
            <p th:text="#{level-login.text}"></p>
    </div>
    <div>
            <form class="text-field" th:action="@{/entry}" method="post" action="#">
                <table>
                    <tr>
                        <td class="text-field-label">Zugang</td>
                        <td><input class="text-input" type="text" name="entryName" id="entryName" th:autofocus="true"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="submit-button" type="submit" name="Enter" th:value="Eintreten"/></td>
                    </tr>
                </table>
            </form>
    </div>
</th:block>

<div th:fragment="solution-form">
    <div class="top-row">
            <H1 class="headline" th:text="#{solution-form.headline}"></H1>
            <p th:text="#{solution-form.text}"></p>
        </div>
    <div>
            <form class="text-field" th:action="@{/solution}" method="post" action="#">
                <table>
                    <tr>
                        <td class="text-field-label">Lösung</td>
                        <td><input class="text-input" type="text" name="solutionName" id="solutionName" th:autofocus="true"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="submit-button" type="submit" name="Enter" th:value="Lösen"/></td>
                    </tr>
                </table>
            </form>
        </div>
</div>

<div th:fragment="error">
    <div class="top-row">
            <H1 class="headline" th:text="#{error.headline}">Woops!</H1>
            <p th:text="${error}"></p>
        </div>
</div>

<th:block th:fragment="entry">
    <th:block th:replace="fragments/entries :: ${entry}"></th:block>
</th:block>

<th:block th:fragment="solution">
    <th:block th:replace="fragments/solutions :: ${solution}"></th:block>
</th:block>

<th:block th:fragment="messageBoardIndex">
    <div class="top-row">
    <H1 class="headline" th:text="#{messageBoardIndex.headline}"></H1>
    <p th:text="#{messageBoardIndex.text}"></p>
    </div>
    <div class="text-field">
        <div th:if="${#fields.hasErrors('${messageBoardPost.*}')}">
            <p th:errors="${messageBoardPost.poster}"></p>
            <p th:errors="${messageBoardPost.message}">Incorrect Email</p>
            <a th:href="@{/messageBoard}">Just return to Message Board!</a>
        </div>
        <table class="messageBoard">
            <tr th:each="post: ${messageBoardPosts}">
                <td class="messageBoard-postName" th:text="${post.poster}">Josh</td>
                <td class="messageBoard-postContent" th:utext="${post.getContent()}"></td>
                <td class="messageBoard-timePosted" th:text="${#dates.format(post.getTimePosted(), #messages.msg('date.format'))}"></td>
            </tr>
        </table>
    </div>
    <form class="text-field" th:action="@{/messageBoard}" th:object="${messageBoardPost}" method="post" action="#">
        <table>
            <tr>
                <td class="text-field-label">Name</td>
                <td><input th:field="*{poster}" class="text-input" type="text" name="nameInput" id="nameInput" th:required="true"/></td>
            </tr>
            <tr>
                <td class="text-field-label">Link</td>
                <td><input th:field="*{link}" class="text-input link-input" type="url" name="linkInput" id="linkInput" th:required="false"/></td>
            </tr>
            <tr>
                <td class="text-field-label">Text</td>
                <td><textarea th:field="*{message}" class="text-input textarea-input" name="textInput" id="textInput" th:required="false"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input class="submit-button" type="submit" name="Enter" th:value="Post"/></td>
            </tr>
        </table>
    </form>
</th:block>

<th:block th:fragment="wrongAnswers">
    <div th:if="${allAnswers}==all">
        <div class="top-row">
            <H1 class="headline" th:text="#{wrongAnswers.all.headline}"></H1>
            <p th:text="#{wrongAnswers.all.text}"></p>
            <div style="text-align: center">
                <a th:href="@{/wrongAnswers/Entry}" class="navigational-link">Entries</a>
                <a th:href="@{/wrongAnswers/Solution}" class="navigational-link">Solutions</a>
            </div>
        </div>
        <div class="text-field">
            <div class="wrongAnswers">
                <div th:each="answer: ${answers}">
                    <div class="wrongAnswer-entry" th:classappend="${answer.origin}">
                        <span th:text="${answer.answer}" th:remove="tag"></span>
                        <span th:text="${#dates.format(answer.timeEntered, #messages.msg('date.format'))}" class="hover-tip hover-tip-small"></span>
                    </div>
                </div>
            </div>
        </div>
        <p class="explanation">Legende
            <span th:text="#{wrongAnswers.all.explanation}" class="hover-tip"></span>
        </p>
    </div>

    <div th:if="${allAnswers}!=all">
        <div th:replace="fragments/content :: answerCloud"></div>
    </div>
</th:block>

<th:block th:fragment="answerCloud">
    <link rel="stylesheet" type="text/css" href="jqcloud.css" />
    <script type="text/javascript" src="jqcloud-1.0.4.js"></script>
    <div class="top-row">
        <h1 class="headline" th:text="${allAnswers}"></h1>
    </div>
    <div id="word-cloud"></div>
    <script th:inline="javascript">
        //<![CDATA[
        $(document).ready(function() {
            var cloud = document.querySelector("#word-cloud");
            var answers = [[${answers}]];
            for(var i=0; i < answers.length; i++) {
                var word = document.createElement("div");
                var text = document.createTextNode(answers[i]);
                word.appendChild(text);
                cloud.appendChild(word);
            }
        });

        //]]>

    </script>
</th:block>

</body>
</html>