<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="PostponementHideboundOccult">
    <div class="row">

        <div class="col-md-offset-3 col-md-6 text-field text-field-margin">
            <H1 class="headline">Level 1 - Ein Anfang</H1>
            <p>Hallo Max!</p>
            <p>Hier ist ein kleines Rätsel bestehend aus mehreren, noch kleineren Rätseln.
                Gesucht sind jeweils Worte, die dann zusammengesetzt werden müssen. Ich werde dir 4 Rätsel stellen,
                aus denen du 4 Worte kriegst. Diese 4 Worte werden dann in richtiger Reihenfolge zu 2 zusammengesetzt.
                Im Endeffekt brauchst du aber ein Wort. Das schaffst du dann auch noch!</p>
            <p><strong>1. Rätsel:</strong> Gesucht ist ein deutsches Wort: Früher gab es ein Gameboy Spiel, in dem man
                bis zu 151 Dinge "sammeln" konnte. Aus diesem Bereich gab es auch eine TV-Serie mit einem besonders
                bekannten Hauptcharakter. Dieser hat ein Vor- und einen Nachnamen. Gebraucht wird aber nur einer davon,
                welches dann noch verändert werden muss.</p>
            <p><strong>2. Rätsel:</strong> #808080</p>
            <p><strong>3. Rätsel:</strong> Ein ______ ist ein hohler, dünnwandiger, leicht verformbarer Gegenstand, der
                zur Aufnahme von
                anderen Gegenständen geeignet ist. Er hat eine meistens verschließbare Öffnung, durch die er gefüllt und
                geleert werden kann.</p>
            <p><strong>4. Rätsel:</strong> <a th:href="@{/images/c8MuPPyzDT.jpg}" href="/images/c8MuPPyzDT.jpg"
                                              target="_blank">Bild</a> (tierisch aufpassen, dass du nur den 2. Teil
                des Wortes nimmst)</p>
            <p>Hast du alle Worte? Na dann mal los. Du wirst schon wissen, wenn du auf die Lösung gestoßen bist. Leider
                ist das noch nicht alles. Die Laura hat den 2. Teil der Lösung (<em>hoffentlich</em>). Setzt die beiden
                Worte einfach zusammen und gebt es <a th:href="@{/solution}" th:target="_blank">hier</a> ein.</p>
        </div>
    </div>
</th:block>

<th:block th:fragment="LovelyObduracyAeschylus">
    <div class="row">
        <div class="img-container">
            <div class="image-slide" id="slide0">
                <div class="image-border image-slide-description">
                    <H1 class="headline">Nummer 1 - Ein Anfang</H1>
                    <p>Hallo Laura,<br/>
                        In den Bildern sind ein paar Buchstaben. Was du wohl damit machen kannst? Frag mal
                        den Max!</p>
                    <p>Mit den Pfeiltasten &larr; und &rarr; kannst du zwischen den Bildern wechseln!</p>
                    <p>Wenn ihr es habt kannst du <a th:href="@{/solution}" th:target="_blank">hier</a> lösen.</p>
                </div>
            </div>
            <div class="image-slide" id="slide1">
                <div class="image-border"><img class="" src="/images/entries/E1/E1img1.jpg" th:src="@{/images/entries/E1/E1img1.jpg}"/></div>
            </div>
            <div class="image-slide" id="slide2">
                <div class="image-border"><img class="" src="/images/entries/E1/E1img2.jpg" th:src="@{/images/entries/E1/E1img2.jpg}"/></div>
            </div>
            <div class="image-slide" id="slide3">
                <div class="image-border"><img class="" src="/images/entries/E1/E1img3.jpg" th:src="@{/images/entries/E1/E1img3.jpg}"/></div>
            </div>
            <div class="image-slide" id="slide4">
                <div class="image-border"><img class="" src="/images/entries/E1/E1img4.jpg" th:src="@{/images/entries/E1/E1img4.jpg}"/></div>
            </div>
            <div class="image-slide" id="slide5">
                <div class="image-border"><img class="" src="/images/entries/E1/E1img5.jpg" th:src="@{/images/entries/E1/E1img5.jpg}"/></div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var container = $(".img-container");
            var widthToScroll = $("#slide0").width() + 5;
            $(document).keydown(function (e) {
                switch (e.which) {
                    case 37: // left
                        container.animate({scrollLeft: "-=" + widthToScroll}, 1000);
                        break;

                    case 39: // right
                        container.animate({scrollLeft: "+=" + widthToScroll}, 1000);
                        break;

                    default:
                        return; // exit this handler for other keys
                }
                e.preventDefault(); // prevent the default action (scroll / move caret)
            });
        });
    </script>
</th:block>

<th:block th:fragment="NostalgiaUnknowableDesirability">
    <div class="row">
        <div class="img-container">
            <div class="image-slide" id="slide0">
                <div class="image-border image-slide-description">
                    <H1 class="headline">Nummer 1 - Ein Anfang</H1>
                    <p>Hallo ihr Lieben,<br/>
                        Hier sind ein paar Bilder für euch. Damit ihr euch nicht langweilt, habe ich noch ein kleines
                        Rätsel für euch.</p>
                    <p>Wenn ihr auf die Bilder klickt, öffnet sich ein Element mit einer Frage. Die Antwort dazu
                        gebt ihr bitte in das Feld ein. Ist die Antwort richtig, schließt sich das Fenster und
                        ihr kommt zum nächsten Bild mit der nächsten Frage! Aber keine Sorge: <strong>Falls</strong>
                        ihr Probleme habt, gibt es noch einen Knopf für einen Hinweis!</p>
                    <p>Um das ganze jetzt mal zu üben, klickt bitte auf dieses Textfeld. Bei weiterem Klick darauf
                    schließt sich das geöffnete Element wieder!</p>
                    <p>Ich wünsche euch viel Spaß! Seid ein bisschen aufmerksam für einen Bonus!</p>
                </div>
            </div>
            <div class="image-slide" id="slide1">
                <div class="image-border"><img class="" src="/images/entries/E3/E3img1.jpg" th:src="@{/images/entries/E3/E3img1.jpg}"/></div>
            </div>
            <div class="image-slide" id="slide2">
                <div class="image-border"><img class="" src="/images/entries/E3/E3img2.jpg" th:src="@{/images/entries/E3/E3img2.jpg}"/></div>
            </div>
            <div class="image-slide" id="slide3">
                <div class="image-border"><img class="" src="/images/entries/E3/E3img3.jpg" th:src="@{/images/entries/E3/E3img3.jpg}"/></div>
            </div>
            <div class="image-slide" id="slide4">
                <div class="image-border"><img class="" src="/images/entries/E3/E3img4.jpg" th:src="@{/images/entries/E3/E3img4.jpg}"/></div>
            </div>
            <div class="image-slide" id="slide5">
                <div class="image-border"><img class="" src="/images/entries/E3/E3img5.jpg" th:src="@{/images/entries/E3/E3img5.jpg}"/></div>
            </div>
            <div class="image-slide" id="slide6">
                <div class="image-border"><img class="" src="/images/entries/E3/E3img6.jpg" th:src="@{/images/entries/E3/E3img6.jpg}"/></div>
            </div>
            <div class="question-box">
                <p class="question-text">teststest</p>
                <input type="text" id="answerField" th:autofocus="true"/>
                <button class="submit-button" id="submit">Click</button>
                <button class="submit-button" id="hint">Tipp</button>
                <p class="question-hint">testest</p>
            </div>
        </div>
    </div>
    <script th:src="@{/js/entry3.js}"></script>

</th:block>


</body>
</html>