<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="navigation">
    <div class="navigation">
        <ul>
            <li><a class="nav-entry" id="entries" href="#" th:href="@{/entry}"> Entry </a></li>
            <li><a class="nav-entry" id="solutions" href="#" th:href="@{/solution}"> Solution </a></li>
            <li><a class="nav-entry" id="messageBoard" href="#" th:href="@{/messageBoard}"> Messages </a></li>
        </ul>
    </div>
</th:block>

</body>
</html>