<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="AdoreAnaesthesiaDipper">
    <div id="canvasdiv">
        <canvas id="canvas"></canvas>
    <div class="row">
        <div class="col-md-offset-3 col-md-6 text-field text-field-margin" id="giraffe-text">
            <H1 class="headline">Level 1 - Ein Anfang</H1>
            <p>Ihr habt es geschafft!</p>
            <p>Ich hoffe, es hat euch ein bisschen Spaß gemacht.</p>
            <p>Vielleicht schicke ich euch nochmal was, wer weiß?</p>
            <a th:href="@{/messageBoard}" th:target="_blank">Hier könnt ihr euch austoben.</a>
        </div>
    </div>
    <link rel="stylesheet" th:href="@{/css/giraffe.css}"/>
        <div id="buttons">
            <button id="1G" class="submit-button"> Give Me 1 </button>
            <button id="10G" class="submit-button"> Give Me 10 </button>
            <button id="100G" class="submit-button"> Give Me 100 </button>
            <img th:src="@{/images/giraffe.png}" id="giraffe" width="0" height="0"/>
        </div>
    </div>

        <script type="text/javascript">
            (function() {
                var canvas = document.getElementById('canvas');
                // resize the canvas to fill browser window dynamically
                window.addEventListener('resize', resizeCanvas, false);

                function resizeCanvas() {
                    canvas.width = window.innerWidth;
                    canvas.height = window.innerHeight;
                }
                resizeCanvas();
            })();
        </script>

        <script type="text/javascript">

            var button1 = document.getElementById("1G");
            button1.addEventListener("click", function() {
                startDrawing(1);
            });

            var button10 = document.getElementById("10G");
            button10.addEventListener("click", function() {
                startDrawing(10);
            });

            var button100 = document.getElementById("100G");
            button100.addEventListener("click", function() {
                startDrawing(100);
            });


            function startDrawing(counter) {

                if (counter > 0) {
                    setTimeout(function() {
                        counter--;
                        drawGiraffes();
                        startDrawing(counter);
                    }, 100);
                }
            }



            function drawGiraffes() {

                var canvas = document.querySelector("canvas");
                var cx = canvas.getContext("2d");
                var image = document.getElementById("giraffe");
                var pat = cx.createPattern(image, "repeat");
                cx.fillStyle = pat;
                var x = Math.random() * 1400;
                var y = Math.random() * 900;
                var angle = Math.random() * 360;
                var scaleSize = Math.random() + 0.5;
                cx.save();
                cx.translate(x, y);
                //cx.transform(200, 200);
                cx.rotate(angle * (Math.PI/180));
                cx.scale(scaleSize, scaleSize);
                cx.beginPath();
                cx.moveTo(0,0 +20);
                cx.lineTo(0 + 100, 0);	/*Back*/
                cx.lineTo(0 + 140, 0 - 80); /*NeckUp*/
                cx.lineTo(0+ 145, 0 - 80); /*ToEar*/
                cx.lineTo(0 + 150, 0 - 85);/*EarUp*/
                cx.lineTo(0 + 155, 0 - 85);/*EarTop*/
                cx.lineTo(0 + 155, 0 - 80);/*EarDown*/
                cx.lineTo(0 + 180, 0 - 70);/*ToNose*/
                cx.lineTo(0 + 175, 0 - 65); /*Nose*/
                cx.lineTo(0 + 155, 0 - 65); /*ToMouth*/
                cx.lineTo(0 + 120, 0 + 5); /*NeckDown*/
                cx.lineTo(0 + 125, 0 + 100); /*Leg1Down*/
                cx.lineTo(0 + 115, 0 + 95); /*Hoof1*/
                cx.lineTo(0 + 110, 0 + 60); /*Leg1Up*/
                cx.lineTo(0+ 105, 0 + 60); /*ToLeg2*/
                cx.lineTo(0 + 95, 0 + 90); /*Leg2Down*/
                cx.lineTo(0 + 90, 0 + 90); /*Hoof2*/
                cx.lineTo(0 + 90, 0 + 60); /*Leg2Up*/
                cx.lineTo(0 + 30, 0 + 60); /*Bell0*/
                cx.lineTo(0 + 25, 0 + 90); /*Leg3Down*/
                cx.lineTo(0 + 20, 0 + 90); /*Hoof3*/
                cx.lineTo(0 + 20, 0 + 60); /*Leg3Up*/
                cx.lineTo(0 + 10, 0 + 100); /*Leg4Down*/
                cx.lineTo(0 , 0 + 98); /*Hoof4*/
                cx.lineTo(0 -5, 0 + 20); /*Leg4Up*/
                cx.lineTo(0 - 40, 0 + 40);
                cx.lineTo(0, 0 + 20);
                cx.fill();
                cx.strokeStyle = "black";
                cx.lineWidth = 2;
                cx.stroke();
                cx.fillStyle = "black";
                cx.beginPath();
                cx.arc(0 + 155, 0 - 75, 2, 0, 7);
                cx.fill();
                cx.beginPath();
                cx.moveTo(0 + 175, 0 - 65);
                cx.lineTo(0 + 160, 0 - 68);
                cx.lineTo(0 + 158, 0 - 70);
                cx.stroke();
                cx.restore();
            }

        </script>
</th:block>

<th:block th:fragment="GoadsMisquotingRemoval">
    <div class="container-fluid image-board">
        <div class="row img-row">
            <div class="col-md-4">
                <a th:href="@{/images/solutions/S2/stuebner0.jpg}" th:target="_blank">
                    <img class="img-responsive" src="/images/solutions/S2/stuebner0.jpg" th:src="@{/images/solutions/S2/stuebner0.jpg}"/>
                    <div class="text-col">
                        <h1 class="headline" th:text="#{stuebner0.headline}"></h1>
                        <p th:text="#{stuebner0.text}"></p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a th:href="@{/images/solutions/S2/stuebner1.jpg}" th:target="_blank">
                    <img class="img-responsive" src="/images/solutions/S2/stuebner1.jpg" th:src="@{/images/solutions/S2/stuebner1.jpg}"/>
                    <div class="text-col">
                        <h1 class="headline" th:text="#{stuebner1.headline}"></h1>
                        <p th:text="#{stuebner1.text}"></p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a th:href="@{/images/solutions/S2/stuebner2.jpg}" th:target="_blank">
                    <img class="img-responsive" src="/images/solutions/S2/stuebner2.jpg" th:src="@{/images/solutions/S2/stuebner2.jpg}"/>
                    <div class="text-col">
                        <h1 class="headline" th:text="#{stuebner2.headline}"></h1>
                        <p th:text="#{stuebner2.text}"></p>
                    </div>
                </a>
            </div>
        </div>
        <div class="row img-row">
            <div class="col-md-4">
                <a th:href="@{/images/solutions/S2/stuebner3.jpg}" th:target="_blank">
                    <img class="img-responsive" src="/images/solutions/S2/stuebner3.jpg" th:src="@{/images/solutions/S2/stuebner3.jpg}"/>
                    <div class="text-col">
                        <h1 class="headline" th:text="#{stuebner3.headline}"></h1>
                        <p th:text="#{stuebner3.text}"></p>
                    </div>
                </a>
            </div><div class="col-md-4">
            <a th:href="@{/images/solutions/S2/stuebner4.jpg}" th:target="_blank">
                <img class="img-responsive" src="/images/solutions/S2/stuebner4.jpg" th:src="@{/images/solutions/S2/stuebner4.jpg}"/>
                <div class="text-col">
                    <h1 class="headline" th:text="#{stuebner4.headline}"></h1>
                    <p th:text="#{stuebner4.text}"></p>
                </div>
            </a>
        </div><div class="col-md-4">
            <a th:href="@{/images/solutions/S2/stuebner5.jpg}" th:target="_blank">
                <img class="img-responsive" src="/images/solutions/S2/stuebner5.jpg" th:src="@{/images/solutions/S2/stuebner5.jpg}"/>
                <div class="text-col">
                    <h1 class="headline" th:text="#{stuebner5.headline}"></h1>
                    <p th:text="#{stuebner5.text}"></p>
                </div>
            </a>
        </div>
        </div>
        <div class="row img-row">
            <div class="col-md-4">
                <a th:href="@{/images/solutions/S2/stuebner6.jpg}" th:target="_blank">
                    <img class="img-responsive" src="/images/solutions/S2/stuebner6.jpg" th:src="@{/images/solutions/S2/stuebner6.jpg}"/>
                    <div class="text-col">
                        <h1 class="headline" th:text="#{stuebner6.headline}"></h1>
                        <p th:text="#{stuebner6.text}"></p>
                    </div>
                </a>
            </div><div class="col-md-4">
            <a th:href="@{/images/solutions/S2/stuebner7.jpg}" th:target="_blank">
                <img class="img-responsive" src="/images/solutions/S2/stuebner7.jpg" th:src="@{/images/solutions/S2/stuebner7.jpg}"/>
                <div class="text-col">
                    <h1 class="headline" th:text="#{stuebner7.headline}"></h1>
                    <p th:text="#{stuebner7.text}"></p>
                </div>
            </a>
        </div><div class="col-md-4">
            <a th:href="@{/images/solutions/S2/stuebner8.jpg}" th:target="_blank">
                <img class="img-responsive" src="/images/solutions/S2/stuebner8.jpg" th:src="@{/images/solutions/S2/stuebner8.jpg}"/>
                <div class="text-col">
                    <h1 class="headline" th:text="#{stuebner8.headline}"></h1>
                    <p th:text="#{stuebner8.text}"></p>
                </div>
            </a>
        </div>
        </div>
    </div>
</th:block>


</body>
</html>