
 /* ------------------------------------------------ */
 body {
	 overflow: hidden;
 }

#canvasdiv {
	margin: 0 auto;
	width: 100%;
}

canvas {
	display: block;
}


#buttons {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	bottom: 0;
}


.text-field {
	position: absolute;
	top: 100px;
}

 .submit-button:active {
	 outline: none;
 }
