
/* ----------------------------------------*/

:root {
    --color1: rgba(21, 77, 132, 1);
    --color2: rgba(21, 77, 132, 0.64);
    --color3: rgba(203, 128, 19, 1);
    --color4: white;

    /*
      --color1: rgba(0, 120, 30, 1);
      --color2: rgba(0, 120, 30, 0.64);
      --color3: rgba(143, 34, 40, 1);

      --color1: rgba(0, 127, 127, 1);
    --color2: rgba(0, 127, 127, 0.64);
    --color3: rgba(255, 132, 61, 1);
     */
}

body {
    background-color: rgba(203, 128, 19, 0.02);
}

h1 {
    color: var(--color1);
}

p {
    color: var(--color1);
}

input:focus {
    outline: var(--color3);
}

textarea:focus {
    outline: var(--color3);
}
a {
    color: var(--color2)
}

a:visited {
    text-decoration: none;
    color: var(--color2);
}

a:hover {
    text-decoration: none;
    color: var(--color3);
}

.top-row {
    margin-top: 20%;
    margin-bottom: 20px;
    padding-left: 25px;
}

.headline {
    font-size: 48px;
    margin-bottom: 30px;
}

.center-message {
    display: block;
    margin-top: 50%;
    margin-right: 10%;
    text-align: right;
}

.triangle {
    position: absolute;
    z-index: -1;
    bottom: -20px;
    right: 80px;
    height: 0;
    width: 0;
    -webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 6s linear infinite;
    animation:spin 6s linear infinite;
}


#triangle1 {
    border-top: 300px solid transparent;
    border-left: 15px solid transparent;
    border-right: 100px solid var(--color2);

}

#triangle2 {
    border-top: 300px solid transparent;
    border-left: 15px solid transparent;
    border-right: 100px solid transparent;
    -webkit-animation:rspin 6s linear infinite;
    -moz-animation:rspin 6s linear infinite;
    animation:rspin 6s linear infinite;

}


.circle {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--color3);

}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@-moz-keyframes rspin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes rspin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes rspin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.welcome {
    font-size: 64px;
    font-style: italic;
    font-variant: small-caps;
    display: inline-flex;
}

#logo-2 {
    color: var(--color1);
    font-style: normal;
    font-size: 74px;
    font-family: "Book Antiqua", Palatino, serif;
    position: relative;
    top: 10px;
}

.text-field {
    padding: 15px 25px;
    box-shadow: 0px 0px 2px var(--color2);
    margin-top: 10px;
    background-color: var(--color4);
}

.text-field-label {;
    font-size: 16px;
    color: var(--color1);
    font-weight: bold;
    width: 80px;
}


.text-input {
    height: 25px;
    width: 180px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    background-color: var(--color2);
    border: none;
    border-radius: 2px;
    padding-left: 5px;
    color: var(--color4);
}

.navigational-link {
    padding: 3px 8px;
    font-size: 20px;

    margin: 10px;
}

.submit-button {
    margin-left: 10px;
    width: 128px;
    color: var(--color4);
    background-color: var(--color1);
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    border: none;
    border-radius: 6px;
}

.img-container {
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    var(--color4)-space:nowrap;
}

.image-slide {
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.image-border {
    min-height: 400px;
    max-width: 50vw;
    box-shadow: 0px 0px 2px var(--color1);
    background-color: var(--color4);
}

.image-border img {
    max-height: 100%;
    max-width: 100%;
}

.image-slide-description {
    padding: 5%;
    var(--color4)-space: normal;
}

.text-field-margin {
    margin-top: 50px;
}
.messageBoard {
    font-size: 14px;
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 3px;
}

.messageBoard td {
    border-bottom: 1px solid var(--color1);
}

.messageBoard-postName {
    width: 8%;
    color: var(--color1);
    font-weight: bold;
}

.messageBoard-postContent {
    color: var(--color1);
    width: 78%;
    word-wrap: break-word;
}

.messageBoard-timePosted {
    text-align: right;
    width: 12%;
    color: var(--color1);
    font-size: 18px;
    font-variant: all-small-caps;
}

.link-input {
    width: 450px;
}


.textarea-input {
    width: 450px;
    height: 50px;
}

.navigation {
    padding: 6px 0;
    width: 100%;
    top:0;
    text-align: center;
    position: absolute;
    //background-color: #486A00;
    //border-bottom: 1px solid  var(--color2);
    box-shadow: 0 2px 2px -2px var(--color3);
    z-index: 1;
}

.navigation li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100px;
    //background-color: var(--color1);
}
.navigation ul {
    padding: 0;
    margin: 0;
}


.nav-entry {
    color: var(--color1);
    font-variant: all-small-caps;
    font-size: 20px;
    font-weight: 400;
    border: none;
    padding: 6px 0;
}

.nav-entry:hover {
    color: var(--color1);
    border-top: 3px solid var(--color2);
}

.wrongAnswers div{
    display: inline;
}

.explanation {
    float:right;
    padding: 5px 10px;
}

.hover-tip {
    visibility: hidden;
    width: 400px;
    background-color: white;
    box-shadow: 0px 0px 2px var(--color2);
    color: var(--color1);
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    right: 15px;
}

.explanation:hover .hover-tip {
    visibility: visible;
}

.wrongAnswer-entry {
    padding: 0 6px;
}

.Entry {
    color: var(--color1);
}

.Solution {
    font-style: italic;
    color: var(--color1);
}

.hover-tip-small {
    width: 100px;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    font-style: normal;
}

.wrongAnswer-entry:hover .hover-tip-small {
    visibility: visible;
}

.question-box {
    width: 40vw;
    //height: 300px;
    background-color: var(--color4);
    box-shadow: 0px 0px 2px var(--color2);
    text-align: center;
    display: none;
    position: absolute;
    top: 30%;
    left: 28.5vw;
    z-index: 2;
    padding: 10px 15px;
}

.question-hint {
    display: none;
}

.image-board {
    margin-top: 100px;
}

.img-row {
    margin-bottom: 40px;
}


.text-col {
    position: relative;
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 50px 5px;
    text-align: center;
    display:none;

}

.img-row .col-md-4:hover .text-col{
        display:block;
}

.img-row .col-md-4:hover .img-responsive {
    display: none;
}
