<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/main.css" th:href="@{|/css/main.css#{css.version}|}" />
    <link rel="shortcut icon" type="image/x-icon" media="all" href="../static/images/icons/favicon.ico" th:href="@{/images/icons/favicon.ico}"/>
    <th:block th:if="${reqJQuery}" >
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    </th:block>
    <title th:text="#{${title}}"></title>
</head>
<body>
    <th:block th:if="${reqNavigation}">
        <th:block th:replace="fragments/layoutParts :: navigation"></th:block>
    </th:block>
    <th:block th:replace="TemplateTypes :: ${templateType}"></th:block>
</body>
</html>